@import '../../../../src/styles/utils.scss';

.ranking-tr {
    color: black;
    background-color: #ffffff;
    &:nth-child(odd) {
        background-color: #F2F2F2;
    }
}
.ranking-table__cell {
    height: 54px;
    line-height: 16px;
    font-size: 14px;
}

.ranking-rank {
    text-align: center;
    color: black;
}

.rank-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}